<!-- views/auth/sign-in.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log book</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<!-- this will be the landing page if you're signed out -->

<body>
    <!-- no nav bar; only options are sign in and contact admin -->

    <h1>Integrated Log Book Application</h1>
    <h5>version 1.0</h5>
    <p>Please sign in to access the application.</p>

    <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <br>

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
        <br>

        <button type="submit">Sign in</button>

    </form>

    <br>

    <form action="mailto:dallas.vanwyk@gmail.com">
        <button type="submit">Contact admin for new account setup</button>
    </form>

    <br>
    <br>
    <p>if you don't have an account already:</p>
    <form action="/auth/sign-up">
        <button type="signUp">Sign up</button>
    </form>

</body>

</html>