<!-- views/auth/view-users.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log book users</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Log Book Users</h1>

    <form action="/auth/new-user">
        <button type="submit">Create new user account</button>
    </form>

    <h3>
        Current user accounts:
    </h3>
    
    <ul>
        <% users.forEach((user) => { %>
            <li>
                <form class="userlink" action="/auth/<%= user._id %>/edit-user">
                    <button type="submit"><%= user.username %></button>
                </form>
            </li>
        <% }) %>
    </ul>

</body>

</html>