<!-- /views/index.ejs -->
<!-- This page is not needed or used; left for possible future use -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log book</title>
</head>

<body>

    <%- include('./partials/_navbar.ejs') %>
    <h1>Integrated Log Book Application</h1>
    <h5>version 1.0</h5>
    <p>if you've ended up here, it's by mistake</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Sacred_lotus_Nelumbo_nucifera.jpg/1280px-Sacred_lotus_Nelumbo_nucifera.jpg" alt="flower" width="500">

</body>

</html>