<!-- /views/index.ejs -->


<!-- THIS MIGHT NOT BE NEEDED!!!!!!!! -->


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log book</title>
</head>

<!-- this will be the landing page if you're signed out -->
<!-- will not have nav bar - only options are sign in and contact admin -->

<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Integrated Log Book Application</h1>
    <h5>version 1.0</h5>
    <p>if you've ended up here, it's by mistake</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Sacred_lotus_Nelumbo_nucifera.jpg/1280px-Sacred_lotus_Nelumbo_nucifera.jpg" alt="flower">
    <!-- <p>Please sign in to access the application.</p>
    

    <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
        <br>

        <label for="password">Password:</label>
        <input type="text" name="password" id="password" required />
        <br>

        <button type="submit">Sign in</button>

    </form>

    <br>

    <a href="mailto:dallas.vanwyk@gmail.com">Contact admin for new account setup</a> -->
</body>

</html>