<!-- views/lognotes/index.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log book</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Integrated Log Book Application</h1>

    <ul>
        <% lognotes.forEach((lognote) => { %>
            <li>
                <form class="loglink" action="/lognotes/<%= lognote._id %>">
                    <button type="submit"><%= lognote.description %></button>
                </form>
            </li>
        <% }) %>
    </ul>

    <h5>Your user account permissions: <%= // user.role %></h5>

</body>

</html>