body {
    font-family: sans-serif;
    background-color: lightblue;
}

nav {
   display: flex;
   justify-content: center;
}

h1 {
    text-align: center;
}

li {
    margin: 2px 0px;
}

button {
    /* background-color: chartreuse; */
    border: 5px #BBBBBB;
    border-radius: 2px;
    box-shadow: 0px 0px 5px #444444;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
}

.navbar {
    margin: 0 5px;
    /* box-shadow: inset; */
    /* border: 20px; */
}

